.container {
  display: grid;
  justify-items: center;
}

.tooltip {
  display: grid;
  position: fixed;
  padding: 10px 1rem;
  border-radius: 20px;
  background-color: var(--activeTab);
  overflow: hidden;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
