.container {
  font-size: clamp(3rem, 5vw, 6.5rem);
  font-family: var(--codeFont);
  text-shadow: 3px 3px 0 #000, 6px 6px 0 #000, 9px 9px #000;
  font-weight: 700;
  // margin: 3rem 2rem;
  margin: 1rem 2rem 2rem 1rem;
  @media (max-width: 1024px) {
    // margin: 2rem 0;
    margin: 1rem 0 2rem 0;
    text-shadow: none;
  }
}
