.app {
  display: grid;
  grid-template-columns: 1fr var(--pannelWidth);
}

.main {
  margin-right: 1rem;

  & > :first-child {
    padding: 1rem;
    min-height: 100vh;
    display: grid;
  }
}

@media (max-width: 1024px) {
  .app {
    grid-template-columns: auto;

    .main {
      margin-top: var(--mobileTopSpace);
      margin-right: 0;

      & > :first-child {
        padding: 5px 12px;
        min-height: calc(100vh - var(--mobileTopSpace));
      }
    }
  }
}
