.container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  // z-index: 90;
  // background-color: var(--bgColor);
  background-color: hsla(220%, 12%, 10%, 0.9);
  backdrop-filter: blur(16px);

  display: grid;
  // grid-template-rows: auto 1fr;
}

.pannel {
  display: grid;
  padding: 1rem 1rem 2rem 1rem;
  gap: 1rem;
  margin-top: var(--mobileTopSpace);

  & > :nth-child(even) {
    .itemIcon {
      translate: -50%;
      color: hsl(195, 73%, 59%, 0.5);
    }
  }

  & > :nth-child(odd) {
    .itemIcon {
      translate: 50%;
      color: hsl(0, 89%, 66%, 0.5);
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  // padding: 1rem;
  padding: 1rem 0 1rem 1rem;
  font-size: 2rem;
  font-weight: 900;

  & > :nth-child(2) {
    margin-left: auto;
  }
}

.item {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  background-color: hsla(220, 12%, 20%, 0.7) !important;
  overflow: hidden;
  border-radius: 50px !important;

  &Icon {
    position: absolute;
    font-size: 9rem;
    opacity: 0.2;
  }
}

.active {
  background-color: var(--activeTab) !important;
}
