.mui-button-reset {
  justify-content: stretch !important;
  justify-items: stretch !important;
  position: relative !important;
}

.card {
  position: relative;
  display: grid;
  border-radius: 20px;
  overflow: hidden;

  transition: all 0.3s ease-in-out;
  @media (min-width: 800px) {
    box-shadow: -2px 2px 2px black;
  }
  &:hover {
    @media (min-width: 1024px) {
      box-shadow: -10px 10px 10px black;
      translate: 10px -10px;

      .cardBody[data-error="false"] {
        background-color: var(--activeTab) !important;
      }
    }
  }

  &Extra {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-auto-flow: column;

    & > button {
      padding: 1rem !important;
    }
  }

  &Body {
    flex-direction: column !important;
    background-color: var(--projColor) !important;
    padding: 1rem !important;
    min-height: 37vh !important;
    gap: 1rem !important;
    font-family: var(--codeFont);
    transition: background-color 0.3s ease-in-out;

    .heading {
      font-size: 2.5rem;
      font-weight: 900;

      @media (max-width: 1024px) {
        font-size: max(1.5rem, 4vw);
      }
    }

    .lang {
      font-size: 1.2rem;
      font-weight: 900;
      color: rgba(255, 255, 255, 0.3);

      @media (max-width: 1024px) {
        font-size: 1rem;
      }
    }

    .stats {
      position: absolute;
      display: flex;
      gap: 1rem;
      right: 1.5rem;
      top: 1rem;

      > span {
        display: flex;
        align-items: center;
        color: hsla(0, 0%, 100%, 0.5);
        font-size: 1.1rem;
        gap: 8px;
      }
    }
  }

  &Body[data-error="true"] {
    background-color: hsl(152, 54%, 39%) !important;

    &:hover {
      background-color: hsl(152, 54%, 39%) !important;
    }
  }
}
