.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem;

  @media (max-width: 1650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 970px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  gap: 2rem;
}

.empty {
  // padding: 1rem;
  padding: 2rem 1rem;
  background-color: var(--projColor);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  @media (max-width: 1024px) {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
  }
  font-family: var(--codeFont);
}
