.card {
  display: grid;
  grid-template-rows: 3fr 1fr;
//   padding: 1rem;
  // justify-items: center;
  background-color: var(--activeTab);
  border-radius: 30px;

  min-height: 36vh;

  &Name {
    font-size: 2rem;
    @media (max-width:1024px) {
      font-size: 1.5rem;
    }
    font-weight: 900;
  }

  .icon {
    font-size: 7rem;
    @media (max-width:1024px) {
        font-size: 6rem;
        
    }
  }
}
