.card {
  display: grid !important;
  grid-template-rows: 3fr 1fr;
  background-color: var(--activeTab) !important;
  border-radius: 30px !important;
  justify-items: center;
  min-height: 37vh;

  &Name {
    font-size: 2rem;
    @media (max-width: 1024px) {
      font-size: 1.5rem;
    }
    font-weight: 900;
  }

  .icon {
    font-size: 7rem;
    @media (max-width: 1024px) {
      font-size: 6rem;
    }
  }
  &:hover {
    background-color: var(--pannelItemHover) !important;
  }
}
