.modal {
  &Main {
    display: grid;
    gap: 1rem;
  }

  &Heading {
    display: flex;
    gap: 1rem;
    align-items: center;

    & > :first-child {
      font-size: 4rem;
      padding: 0 10px;
    }

    & > :nth-child(2) {
      font-size: 2rem;
      font-weight: 900;
      font-family: var(--codeFont);

      @media (max-width: 1024px) {
        font-size: max(4vw, 1.5rem);
      }
    }

    & > :last-child {
      margin-left: auto;
      padding: 0 10px !important;
    }
  }

  &Info {
    display: grid;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    padding: 1rem 0;

    & > span {
      display: flex;
      gap: 10px;
    }

    &Bold {
      font-weight: 900;
    }
  }
}

.card {
  min-height: unset !important;
  display: flex !important;
  gap: 1rem;
  justify-content: flex-start !important;
  padding: 1.2rem 1.5rem !important;

  & > :nth-child(2) {
    font-weight: 700 !important;
    font-size: 1.5rem !important;

    @media (max-width: 1024px) {
      font-size: max(4vw, 1.2rem);
    }
  }

  svg {
    font-size: 3.5rem;
  }
}
