.container {
  display: grid;
  padding: 0 1rem;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 5px;
  }
}
